.navbar{
    background-color: rgb(2, 2, 68);
}
.navbar-brand,.nav-link{
    color: white !important;
}
.footer{
    background-color: rgb(2, 2, 68);
}
p{
    display: inline-block;
    margin: 2px;
}